# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle test-drive'
      'command': 'test-drive:toggle'
    }
  ]
'atom-workspace': [
  {
    label: 'Text'
    submenu: [
      {label: 'Inspect Element', command: 'core:inspect'}
      {type: 'separator'}
      {label: 'Selector All', command: 'core:select-all'}
      {type: 'separator'}
      {label: 'Deleted Selected Text', command: 'core:delete'}
    ]
  }
]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'test-drive'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'test-drive:toggle'
        }
      ]
    ]
  }
]
